body{
	display: flex;
	justify-content: center;
}
#ciclo{
	margin-left:30px;

}
input{
	margin-top: 5px;
	margin-left: 5px;
}
.ci{
	margin-left: 10px;
}
#adicionar{
	margin-left:30px;
	background-color: green;
	color: white;
	border:none;
	cursor: pointer;
}
#deletar{
	margin-left:70px;
	background-color: red;
	color: white;
}
button{
	height:30px;
    border:none;
    cursor: pointer;
    outline: none;
    color: white;
}
#clock{
	width: 300px;
}
#cinput{
	margin-left:10px;
}
#calcular{
	background-color: #1E90FF;
}
.cpi{
	float: left;
	margin-top: 10px;
}
.te{
	float: left;
	margin-top: 10px;
}